<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<table th:border="black">
  <thead>
  <tr>
    <th>Name</th>
    <th>Lastname</th>
    <th>Age</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.name}"></td>
    <td th:text="${user.lastName}"></td>
    <td th:text="${user.age}"></td>
    <td>
      <form th:action="@{/update}" method="get">
        <input type="hidden" name="id" th:value="${user.getId()}">
        <input type="submit" value="Update">
      </form>
    </td>
    <td>
      <form th:method="post" th:action="@{/delete}">
        <input type="hidden" name="id" th:value="${user.getId()}">
        <input type="submit" value="Delete">
      </form>
    </td>
  </tr>
  </tbody>
</table>
<br>
<th:block th:if="${message != null}">
  <p th:text="${message}"></p>
</th:block>
<br>
<a href="/create">Create new user</a>
</body>
</html>